{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="services" id="services">
    <div class="container mt-5 mb-5 ">
        <div class="row">
            <h4 class="text-primary">Product & Services</h4>
            <h3>PT. Onasis Indonesia</h3>
            <p class="placeholder-glow text-primary">
                <span class="placeholder col-12"></span>
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center fs-5 fw-bold">
                        <p class="card-text">Normal Laying</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'services/img/nearshore.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body text-center fs-5 fw-bold">
                        <p class="card-text">Nearshore Laying</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'services/img/dredging.jpeg'%}" class="card-img-top" alt="...">
                    <div class="card-body text-center fs-5 fw-bold">
                        <p class="card-text">Dredging</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center fs-5 fw-bold">
                        <p class="card-text">Bridge Platform</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{% static 'services/img/capstring.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body text-center fs-5 fw-bold">
                        <p class="card-text">Capilary String Mechanical</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body text-center fs-5 fw-bold">
                        <p class="card-text">Pipeline</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <p>Many products we have produced from fabrication of structural, piping and pipeline. We also serve the
                work of heavy equipment and include site preparation work for onshore / offshore.</p>
        </div>
    </div>
</section>
{% endblock content %}