body {

    min-width: 1000px;
}

.slide-img {
    padding-top: 3rem;
    margin-top: 0.5rem;
}

.jumbotron {
    padding-top: 3rem;

}

.about {
    padding-top: 3rem;
}

.product {
    padding-top: 3rem;
}