{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-md mt-5 ">
    <div class="row ">
        <div class="col-md-6">
            <h3 class="featurette-heading fw-semibold lh-1 text-primary text-center mb-3">STATEMENT OF PRESIDENT
                DIRECTOR
            </h3>
            <p class="indent">PT Onasis Indonesia is a domestic company that specializes in engineering,
                onshore &
                offshore services, and also underwater work, supporting vessels as well as procurement work in the oil
                and gas industry. Our vision is to become the market leader in contractor services for offshore &
                onshore in Southeast Asia. To achieve that, we have mission to enhance quality, healthy, safety, and
                environmental performance and conducting continual improvement of human resource and facilities to
                achieve profitability, growth, and healthy financial condition.
            </p>
            <p class="indent">We consider the opportunity to support our clients is irreplaceable. Therefore, we will
                support clients
                exceed their goals in the most cost-effective and time efficient manner. We will develop and maintain
                long-standing customer and subcontractor relationship to ensure complete customer satisfaction. We will
                strive to provide superior service that exceed requirements and expectations with a strong emphasis to
                deliver work at a reasonable cost.
            </p>
            <p class="indent">With our quality policy, we will always strive the best. We answer all the clients
                problems with
                solution. That’s why we geared our people with the best tools knowledge, thus we can meet the challenge,
                not just from the clients, but also from the external and internal environment itself.
            </p>
            <p>Sincerely,
            </p>
            <p>Ir. H. Imam Suharyadi, MM.</p>
        </div>
        <div class="col-md-6 text-center">
            <img class="rounded" style="height: 450px;" src="{% static 'about/img/direksi.png' %}">
        </div>
    </div>
</div>
{% endblock content %}