{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="vision" id="vision">
    <div class="container-md mt-5">
        <div class="row featurette">
            <p class="h3 heading text-primary fw-semibold">{{heading}}</p>
            <h4 class="fw-bold subheading">{{subheading}}</h4>
        </div>
        <div class="row featurette">
            <div class="col-md-8 order-md-2">
                <h3 class="featurette-heading fw-semibold lh-1 text-primary">Vision</h3>
                <p class="text-md-start fs-6">Our vision is to become the market leader in contractor services for
                    offshore &
                    onshore in Southeast Asia.</p>
            </div>
            <div class="col-md-4 order-md-1 text-center">
                <img class="rounded" style="height: 100px;" src="{% static 'about/img/icons/vision.png' %}">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-4 text-center">
                <img class="rounded" style="height: 100px;" src="{% static 'about/img/icons/mission.png' %}">
            </div>
            <div class="col-md-8">
                <h3 class="featurette-heading fw-semibold lh-1 text-primary">Mission</h3>
                <p class="text-md-start fs-6">We have mission to enhance quality, healthy, safety, and environmental
                    performance and conducting continual improvement of human resource and facilities to achieve
                    profitability, growth, and healthy financial condition.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-8 order-md-2">
                <h3 class="featurette-heading fw-semibold lh-1 text-primary">Value</h3>
                <ol>
                    <li>
                        <h5>Integrity</h5>
                        <p class="text-md-start fs-6">We have ability to develop into a better and promote
                            confidence and hard work in order to remain useful for companies, employees, and around
                            our community.</p>
                    </li>
                    <li>
                        <h5>Professionalism</h5>
                        <p class="text-md-start">We work with passion and values that can build a better company
                            with the same Mission and Vision. Expertise and Professional attitude into high value
                            which we apply in the company.</p>
                    </li>
                    <li>
                        <h5>Teamwork</h5>
                        <p class="text-md-start">We can work together to resolve all existing jobs as well as
                            together in solving the problems that arise with ideas and input from the team in our
                            company.
                        </p>
                    </li>
                    <li>
                        <h5>Responsibility</h5>
                        <p class="text-md-start">Responsibility is a priority that we put forward in completing all
                            the work, including the contract with whom we are working and that has been in
                            performance management.
                        </p>
                    </li>
                    <li>
                        <h5>Respectful</h5>
                        <p class="text-md-start">various opinions and input received from both internal (employees)
                            and external which appreciated good value to makes us confident to exist.</p>
                    </li>
                    <li>
                        <h5>Social Responsibility</h5>
                        <p class="text-md-start">We have a variety of programs that every time we invent to build
                            better communities and interaction to the community around people that needs.
                        </p>
                    </li>
                </ol>
            </div>
            <div class="col-md-4 order-md-1 text-center">
                <img class="rounded" style="height: 100px;" src="{% static 'about/img/icons/value.png' %}">
            </div>
        </div>

        <hr class="featurette-divider">

    </div>
</section>
{% endblock content %}