{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>

        <!-- Bootstrap CSS -->
        <!-- Online -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
        
        <!-- Offline -->
        {% include 'snippets/styles.html' %}

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
        
<body id="home">
    <!-- Navbar -->
    {% include 'snippets/navbar.html' %}
    <!-- End Navbar -->

    <!-- Carousel  -->
    <section class="slide-img">
        <div id="carouselExampleCaptions" class="carousel slide mb-3" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/hr1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/hr1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/hr1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- End Carousel  -->

    <!-- Content -->
    <div class="container marketing text-center">   
        <!-- Heading -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
                <h2 class="fw-normal">Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>                
            </div><!-- /.col-md-4 mb-3 -->
            <div class="col-md-4 mb-3">
                <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
                <h2 class="fw-normal">Heading</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>                
            </div><!-- /.col-md-4 mb-3 -->
            <div class="col-md-4 mb-3">
                <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
                <h2 class="fw-normal">Heading</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>                
            </div><!-- /.col-md-4 mb-3 -->
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">                
                <p><a class="btn btn-secondary bg-primary" href="#">View details »</a></p>
            </div><!-- /.col-md-4 mb-3 -->
            <div class="col-md-4 mb-3">                
                <p><a class="btn btn-secondary bg-primary" href="#">View details »</a></p>
            </div><!-- /.col-md-4 mb-3 -->
            <div class="col-md-4 mb-3">                
                <p><a class="btn btn-secondary bg-primary" href="#">View details »</a></p>
            </div><!-- /.col-md-4 mb-3 -->
        </div>
        <!-- End Heading -->
    
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>         -->
                <img class="rounded" src="{% static 'img/dredging/1.png' %}" alt="" srcset="">
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
                <img class="rounded" src="{% static 'img/dredging/2.png' %}" alt="" srcset="">
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img class="rounded" src="{% static 'img/dredging/3.png' %}" alt="" srcset="">
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    </div>
    <!-- End Content -->
    
    <!-- About Us -->
    <section id="about" class="about ">
        <div class="container">
            <div class="row text-center">
                <div class="col"><h2>About Us</h2></div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-4">
                    <p>PT. Onasis Indonesia was established in 2004. PT. Onasis Indonesia is a professional contractor company for Engineering, Procurement, Construction and Pipeline for Oil & Gas Services.</p>
                    <p>PT. Onasis Indonesia is fully committed to serve the clients by providing its best core competence to complete work & to offer the best Cost, Quality and Delivery for its project.   
                    <p>Experienced in the Onshore, Offshore and related services, PT Onasis Indonesia is capable in such projects as Engineering, Onshore and Offshore Services, and also Underwater Works, Supporting Vessel Operation as well as specific Procurement works for the E & P field projects in the Oil and Gas Industry.</p>                                            
                </div>
                <div class="col-md-4">
                    <p>The companies are back up by our professional human resources, knowledge, expertise, and commitment with the support of solid management</p>
                    <p>Experienced in the Onshore, Offshore and related services, PT Onasis Indonesia is capable in such projects as Engineering, Onshore and Offshore Services, and also Underwater Works, Supporting Vessel Operation as well as specific Procurement works for the E & P field projects in the Oil and Gas Industry.</p>
                    <p>The companies are back up by our professional human resources, knowledge, expertise, and commitment with the support of solid management</p>
                </div>                    
            </div>
        </div>
        <hr class="featurette-divider">
    </section>
    <!-- End About Us -->

    <!-- Product & Service -->
    <section id="product" class="product">
        <div class="container">
            <div class="row mb-3">
                <div class="col text-center">
                    <h2>Product & Service</h2>
                </div>                    
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/icon/engineers.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/icon/construction.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/icon/gas-pipeline.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product & Service -->

    <div class="container-fluid">
        <div class="row-md-5">
            <img class="img-fluid" src="{% static 'img/hr1.jpg' %}" alt="" srcset="">
        </div>
    </div>

    <!-- Footer -->
    {% include 'snippets/footer.html' %}
    <!-- End Footer -->

    <!-- Scripts -->
    {% include 'snippets/scripts.html' %}
    <!-- End Scripts -->        
        
</body>
</html>